# =========================================================
# Target: mediatek / filogic
# Multi-profile build
# Devices: 主流 MediaTek 硬路由平台设备支持
# SoC: MT7981 / MT7986
# 包含：MT798X 平台硬件驱动、WiFi 与 LED 指示灯支持
# =========================================================
### Target Configuration - Mediatek Filogic MT798X ###
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro-512rom=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jdcloud_re-cp-03=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=y
